{% extends "page.njk" %}

{% block layout %}
<div class="deltionv2-center-template">
    <div class="deltionv2-template-container">
        <section class="deltionv2-banner">
            <div class="deltionv2-content">
                <div class="deltionv2-content-header">
                    <h2>{{ course_title }}</h2>
                    <a href="https://leeromgeving.deltion.nl/courses/9600/pages/verdieping-inhoudsopgave-verdieping">Home</a>
                </div>
            </div>
        </section>
        <section class="deltionv2-information-section">
            <div class="deltionv2-introtext">

            {{ content | safe}}

            </div>
            <div class="deltionv2-contentarea"><img src="{{ afbeelding }}" alt="{{ afbeelding }}" eleventy:widths="400"/></div>
        </section>
        <section class="deltionv2-buttoncollection">
            {% for course in courses.courses|sort(attribute='name')%}
                <div class="deltionv2-navigationbutton"><a href="{{ course.url | slug }}/introductie/" {% if p.url==page.url %}aria-current="page"
                                    data-state="active" {% endif %}><img src="/_assets/arrow-right-o.svg" alt="Arrow" />{{ course.name}}<br /></a>
                </div>
            {% endfor %}            
        </section>
    </div>
</div>

{% endblock %}