{% extends "page.njk" %}

{% block layout %}
    <main>
        <h1 id="top">{{ course_title }}</h1>
        {{ content | safe }}
        <div id="leerdoelen_wrapper">
            {% for p in collections[tags] | postsAscending %}
                {% if p.url==page.url %}
                    {% for l in p.data.leerdoelen %}
                        <details>
                            <summary><a>{{ l.titel }}</a></summary>
                            <ul>
                            {% for i in l.items %}
                                <li>{{ i }}</li>
                            {% endfor %}
                            </ul>
                        </details>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </main>
    <aside id="inhoudsopgave">
        <div class="head">
            <a href="#" onclick="hidePanel()"><img src="/_assets/2pijltjes.svg" alt="inklappen" style="position:relative; top:1px;" eleventy:widths="12"></a>
            <span><b>Inhoudsopgave</b></span>
        </div>
        {{ content | toc | safe }}
    </aside>
    <aside id="hiddeninhoudsopgave">
            <a href="#" onclick="showPanel()"><img src="/_assets/2pijltjes.svg" alt="uitklappen" style="position:relative; top:1px; transform: rotate(180deg); " eleventy:widths="12"></a>
    </aside>
{% endblock %}

